<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<string>Top</string>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<true/>
	<key>FlurryApiKey</key>
	<string></string>
	<key>OpenAllWhitelistURLsInWebView</key>
	<false/>
	<key>ExternalHosts</key>
	<array>
		<string>*</string>
	</array>
	<key>AppLocation</key>
	<string></string>
	<key>Plugins</key>
	<dict>
		<key>com.phonegap.accelerometer</key>
		<string>PGAccelerometer</string>
		<key>com.phonegap.camera</key>
		<string>PGCamera</string>
		<key>com.phonegap.connection</key>
		<string>PGConnection</string>
		<key>com.phonegap.contacts</key>
		<string>PGContacts</string>
		<key>com.phonegap.debugconsole</key>
		<string>PGDebugConsole</string>
		<key>com.phonegap.file</key>
		<string>PGFile</string>
		<key>com.phonegap.filetransfer</key>
		<string>PGFileTransfer</string>
		<key>com.phonegap.geolocation</key>
		<string>PGLocation</string>
		<key>com.phonegap.notification</key>
		<string>PGNotification</string>
		<key>com.phonegap.media</key>
		<string>PGSound</string>
		<key>com.phonegap.mediacapture</key>
		<string>PGCapture</string>
		<key>com.phonegap.splashscreen</key>
		<string>PGSplashScreen</string>
		<key>com.phonegap.plugins.analytics</key>
		<string>Analytics</string>
		<key>com.phonegap.plugins.orientation</key>
		<string>Orientation</string>
		<key>com.phonegap.plugins.emailcomposer</key>
		<string>EmailComposer</string>
		<key>com.phonegap.plugins.filedownloader</key>
		<string>FileDownloader</string>
		<key>com.phonegap.plugins.pushnotification</key>
		<string>PushNotification</string>
		<key>com.phonegap.plugins.stream</key>
		<string>Stream</string>
		<key>com.phonegap.plugins.webview</key>
		<string>Webview</string>
		<key>com.phonegap.plugins.ftputils</key>
		<string>FtpUtil</string>
	</dict>
</dict>
</plist>
